node_modules
npm-debug.log
yarn-error.log
wordpress/wp-content/languages/
wordpress/wp-content/theme/twentyseventeen/
wordpress/wp-content/theme/twentyfifteen/
wordpress/wp-content/theme/twentysixteen/
.DS_Store
frontend/stratch.js
fix.sh

frontend/.DS_Store
.DS_Store
frontend/static/.DS_Store
